{% extends 'partials/base.html' %}

{% block content %}
    <div class="container-sm mt-5 pt-5">
        <h3 class="text-center" style="color: rgb(170, 0, 0);">FireAway : A Capstone Project</h3>
        <br>
        <p>
            Motivation: In 2022, California has had approximately 6000 recorded wildfires, spanning almost 300 thousand acres. A fire itself takes around one hour from the ignition of the fire to become a fully developed fire. This was the inspiration behind our project. We wanted to create a system for wildfire detection to be used by wildland firefighters. The current solution for detecting forest fires is if someone calls 911 or via a system of lookout towers. However, with our solution, firefighters would be able to pinpoint the location of conflagrations in a timely manner. The system is designed for their convenience and safety. Therefore, the goal of the system that we are creating for our project is to have (1) accuracy and (2) low power.
        </p>
        <br>
        <p>
            This web application is aimed to assist wildland firefighters in detecting the locations of wildfires in their area. It display the nodes that are configured within our network and shows where the fire occurs on the map.
        </p>
        <p><b>
            Navigate to “How to Use” to get a better sense of how this web application works.
        </b></p>
        <br>
        Created by: Karen Abruzzo, Ankita Bhanjois, Arden Diakhate-Palme
    </div>
{% endblock %}